@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@font-face {
    font-family: DQFont;
    src: url("/fonts/misaki_gothic_2nd.woff") format("woff");
    font-weight: bold;
}

* {
    font-size: 16px;
    font-family: DQFont;
}

body {
    background-color: #202023;
    transition: 0.3s;
    letter-spacing: 0.15rem;
}
